AW.Data/Connected Services/DataService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AdDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="ConditionId" type="xs:int" />
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LocationId" type="xs:int" />
      <xs:element minOccurs="0" name="Picture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdDto" nillable="true" type="tns:AdDto" />
  <xs:complexType name="ArrayOfAdDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdDto" nillable="true" type="tns:AdDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdDto" nillable="true" type="tns:ArrayOfAdDto" />
  <xs:complexType name="AdDetailsDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConditionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LocationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Picture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdDetailsDto" nillable="true" type="tns:AdDetailsDto" />
  <xs:complexType name="ArrayOfCategoryDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryDto" nillable="true" type="tns:CategoryDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoryDto" nillable="true" type="tns:ArrayOfCategoryDto" />
  <xs:complexType name="CategoryDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentCategoryId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryDto" nillable="true" type="tns:CategoryDto" />
  <xs:complexType name="ArrayOfConditionDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConditionDto" nillable="true" type="tns:ConditionDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConditionDto" nillable="true" type="tns:ArrayOfConditionDto" />
  <xs:complexType name="ConditionDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConditionId" type="xs:int" />
      <xs:element minOccurs="0" name="ConditionName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConditionDto" nillable="true" type="tns:ConditionDto" />
  <xs:complexType name="ArrayOfTypeDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TypeDto" nillable="true" type="tns:TypeDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTypeDto" nillable="true" type="tns:ArrayOfTypeDto" />
  <xs:complexType name="TypeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="TypeId" type="xs:int" />
      <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TypeDto" nillable="true" type="tns:TypeDto" />
  <xs:complexType name="ArrayOfLocationDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocationDto" nillable="true" type="tns:LocationDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocationDto" nillable="true" type="tns:ArrayOfLocationDto" />
  <xs:complexType name="LocationDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="LocationId" type="xs:int" />
      <xs:element minOccurs="0" name="LocationName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocationDto" nillable="true" type="tns:LocationDto" />
  <xs:complexType name="UserDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="tns:RoleDto" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDto" nillable="true" type="tns:UserDto" />
  <xs:complexType name="RoleDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="RoleId" type="xs:int" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoleDto" nillable="true" type="tns:RoleDto" />
  <xs:complexType name="ArrayOfUserDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDto" nillable="true" type="tns:UserDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDto" nillable="true" type="tns:ArrayOfUserDto" />
  <xs:complexType name="ArrayOfRoleDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoleDto" nillable="true" type="tns:RoleDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoleDto" nillable="true" type="tns:ArrayOfRoleDto" />
  <xs:complexType name="ArrayOfPhoneDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhoneDto" nillable="true" type="tns:PhoneDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhoneDto" nillable="true" type="tns:ArrayOfPhoneDto" />
  <xs:complexType name="PhoneDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="PhoneId" type="xs:int" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhoneDto" nillable="true" type="tns:PhoneDto" />
  <xs:complexType name="ArrayOfEmailDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmailDto" nillable="true" type="tns:EmailDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmailDto" nillable="true" type="tns:ArrayOfEmailDto" />
  <xs:complexType name="EmailDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailId" type="xs:int" />
      <xs:element minOccurs="0" name="EmailValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailDto" nillable="true" type="tns:EmailDto" />
</xs:schema>