DataTier/Connected Services/AdService/AdService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8011/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8011/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8011/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdService_GetAdsDto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdsDto" />
  </wsdl:message>
  <wsdl:message name="IAdService_GetAdsDto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdsDtoResponse" />
  </wsdl:message>
  <wsdl:message name="IAdService_GetAdDetailsDto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdDetailsDto" />
  </wsdl:message>
  <wsdl:message name="IAdService_GetAdDetailsDto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdDetailsDtoResponse" />
  </wsdl:message>
  <wsdl:message name="IAdService_GetCategoriesDto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesDto" />
  </wsdl:message>
  <wsdl:message name="IAdService_GetCategoriesDto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesDtoResponse" />
  </wsdl:message>
  <wsdl:message name="IAdService_GetUsersDto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersDto" />
  </wsdl:message>
  <wsdl:message name="IAdService_GetUsersDto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersDtoResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdService">
    <wsdl:operation name="GetAdsDto">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdService/GetAdsDto" message="tns:IAdService_GetAdsDto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdService/GetAdsDtoResponse" message="tns:IAdService_GetAdsDto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAdDetailsDto">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdService/GetAdDetailsDto" message="tns:IAdService_GetAdDetailsDto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdService/GetAdDetailsDtoResponse" message="tns:IAdService_GetAdDetailsDto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategoriesDto">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdService/GetCategoriesDto" message="tns:IAdService_GetCategoriesDto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdService/GetCategoriesDtoResponse" message="tns:IAdService_GetCategoriesDto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersDto">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdService/GetUsersDto" message="tns:IAdService_GetUsersDto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdService/GetUsersDtoResponse" message="tns:IAdService_GetUsersDto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAdService" type="tns:IAdService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAdsDto">
      <soap:operation soapAction="http://tempuri.org/IAdService/GetAdsDto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdDetailsDto">
      <soap:operation soapAction="http://tempuri.org/IAdService/GetAdDetailsDto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategoriesDto">
      <soap:operation soapAction="http://tempuri.org/IAdService/GetCategoriesDto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersDto">
      <soap:operation soapAction="http://tempuri.org/IAdService/GetUsersDto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdService">
    <wsdl:port name="BasicHttpBinding_IAdService" binding="tns:BasicHttpBinding_IAdService">
      <soap:address location="http://localhost:8011/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>